# Protect installation files
# Remove this file temporarily when you need to run updates

<IfModule mod_authz_core.c>
    # Apache 2.4
    <RequireAll>
        Require all denied
    </RequireAll>
</IfModule>

<IfModule !mod_authz_core.c>
    # Apache 2.2
    Order deny,allow
    Deny from all
</IfModule>